<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>
<div id = "upcoming-holidays">
  <h4> Upcoming Holidays: </h4>
  <% @holiday_info.each do |holiday| %>
    <div id = "holiday-<%= holiday.date %>">
      <ul>
        <p>Holiday: <%= holiday.name %></p>
        <p>Holiday Date: <%= holiday.date%></p>
      </ul>
    <div>
  <% end %>
<div>
<p><%= link_to 'Create a new discount', new_merchant_bulk_discount_path(@merchant.id) %> </p>

<h4> All your bulk discounts: </h4>
<% @discounts.each do |discount| %>
  <div id = "merchant_discount-<%=discount.id%>">
    <p><%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id)%></p>
    <p>Discount amount: <%=discount.discount%>%</p>
    <p>Discount quantity threshold: <%=discount.quantity%> items</p>
    <p><%= button_to "Delete Discount ##{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %></p>
  <div>
<% end %>